body{
    font-family: Roboto;
    background: #333;
}
* {
    font-weight: 300;
}
h4 {
    color: white;
}
.table{
    border: 1px solid #777;
    border-radius: 2px;
    width:65%;
    flex-direction: column;
    margin: 30px 20px;
}
.header-content {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px solid #777;
}
.header-content h4 {
    padding-left: 15px;
    width: 50%;
    margin: 20px 0px;
}
.table-list {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #777;
    width: 100%;
}
.table-sublist {
    width: 50%;
    display: inline-flex;
    justify-content: space-between;
    padding: 0 15px;
}
.table-sublist:first-child {
    color: white;
    }
.table-sublist {
    color: #777;
}
.table-two{
    margin: 40px 0px;
}
form {
    display: inline-flex;
    align-items: center;
}
input[type="text"] {
    background-color: #444444;
    border: 1px solid #777;
    height: 55%;
    border-radius: 0px 5px 5px 0px;
}
button {
    background: #444444;
    height: 63%;
    border-color: #777;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
}
form {
    position: relative;
    right: 15px;
}
h4.date {
    position: relative;
    left: 75px;
}
i.fa.fa-archive {
    color: #19a0fa;
    padding-right: 10px;
}
i.fa.fa-search {
    color: #777;
}
i.fa.fa-ellipsis-h {
    color: white;
}
.has-search input[type="text"] {
    background-color: #444444;
    border: 1px solid #777;
    border-radius: 5px;
    padding: 0px 33px;
    margin: 10px 0px;
    width: 65%;
    height: 60%;
    color: #777;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 3.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.form-group.has-search {
    height: 100%;
}
.container {
  display: flex;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 15px;
  font-family: Roboto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 2px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
